@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
body {
  margin: 0;
  background: linear-gradient(90deg, rgb(16, 0, 36) 0%, rgba(9,9,121,1) 35%, rgb(234, 0, 255) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1{
  font-family: 'Style Script', cursive;
}